.SideDrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left:0;
    right: 0;
    z-index: 200;
    background: #fff;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out; /*IMPORTNANT ANIMATION!*/
    
    
}
@media(min-width:500px){
    .SideDrawer{
        display: none;
    }
}
.Open{
    transform: translateX(0)
}
.Close{
    transform: translateX(-100%)
}
.Logo{
    height: 7%;
    margin-bottom: 20px;
}