.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
.InputEl{
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    font:inherit;
    padding: 6px 0px;
    display: block;
    box-sizing: border-box;
    width: 100%;
}
.InputEl:focus{
    outline: none;
    background: #ccc;

}
.Invalid{
    border: 1px solid red;
    background-color: salmon;
}
.ValidationError {
    color: red;
    margin: 5px 0;
} 